<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollabTask</title>
</head>
<body>
    <H1>Test</H1>
    <p><strong>{{date}}</strong></p>
    <p>From <strong>{{email}}</strong></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rerum facere soluta. Accusamus, ducimus. Tempora aut, dolorem saepe alias debitis itaque vel corporis sunt fuga facilis excepturi quaerat adipisci odit.
    </p>
</body>
</html>